.glass {
  background: rgba(99, 102, 241, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 10px 28px rgba(99, 102, 241, 0.3);
  border: 1px solid rgba(196, 181, 253, 0.4);
  color: #f8fdff;
}

.warning {
  background: rgba(236, 72, 153, 0.3);
}
